<% include ../partials/header %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1 id="welcome">Experience nature</h1>
            <p id="tag-line">View our campgrounds from all over the world.</p>
            <% if(currentUser) { %>
            <!--If the user is logged in, show the post campground button -->
            <p>
                <a class="btn btn-transparent btn-large post-camp" href="/campgrounds/new">Post a new campground</a>
            </p>
            <% } %>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/campgrounds/<%= campground._id %>"><img src="<%= campground.image %>"></a>
                    <div class="caption-index">
                        <p id="index-list-location"><%= campground.location %></p>
                        <hr class="style-two">
                        <h4><%= campground.name %></h4>
                        <p>$<%= campground.price %> per night</p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
