<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Camp in <%= campground.location %></p>
                <div class="list-group vertical-menu">
                    <li class="list-group-item active">
                        <a style="color: white" href="/campgrounds/<%= campground._id %>">
                            <span class="glyphicon glyphicon-tent"></span> The Campground
                        </a>
                    </li>
                    <li class="list-group-item not-active">
                        <a href="/users/<%= campground.author.id %>">
                            <span class="glyphicon glyphicon-user"></span> The Host
                        </a>
                    </li>
                    <li class="list-group-item not-active">
                        <a href="/chatroom">
                            <span class="glyphicon glyphicon-envelope"></span> Contact
                        </a>
                    </li>
                </div>
            <div id="map"></div>
        </div>
            <div class="col-md-9">
                <div class="thumbnail-show listing-container">
                    <img class="img-responsive" src="<%= campground.image %>">
                    <div class="caption-full">
                        <h4 class="pull-right">$<%= campground.price %> per night</h4>
                        <h4 id="campground-name">
                            <b><%= campground.name %></b>
                        </h4>

                        <hr class="style-two hr-list">

                        <p class="campground-text"><%= campground.description %></p>

                        <hr class="style-two hr-list">

                        <p>
                            <em>Submitted by <a href="/users/<%= campground.author.id %>"><%= campground.author.userDisplay %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                        </p>
                        <!--Must check for both currentUser and campground.author.id.equals(currentUser._id), otherwise, will throw "currentUser undefined error"-->
                        <!--Includes admin rights logic-->
                        <% if (currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                            <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                <div class="well well-outer">

                    <!--Collapse Add a comment form START-->

                    <div class="container-text-new">
                        <div class="well well-inner" style="border-left: 5px solid #337ab7;">
                            <% if(!currentUser) { %>
                                <!--If the user is not logged in, direct him to the login page-->
                                <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
                                <% } %>
                                <% if(currentUser) { %>
                                    <!--If the user is logged in, show the new comment form-->
                                    <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                        <div class="form-group">
                                            <textarea id="text-area-comment" class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="1"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-success btn-sm"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                                        </div>
                                    </form>
                                <% } %>
                        </div>
                    </div>

                    <!--Collapse Add a comment form END-->

                    <hr id="hr-comment-show">

                    <!--Check if there are comments, if there are none say no comments.-->
                    <% if (campground.comments.length === 0) { %>
                        <em style="color: grey;">No comments yet.</em>
                        <% } %>

                            <!--Display comments by looping through them-->
                            <% campground.comments.reverse().forEach(function(comment) { %>
                            <div class="row">
                                <div class="col-md-12 indiv-comment">
                                    <div class="name-avatar-container">
                                        <strong>
                                            <span aria-hidden="true">
                                                <img class="comments-user-avatar" src="<%= comment.author.avatar %>">
                                            </span>
                                        </strong>
                                    </div>

                                    <!--Printing the comment-->
                                    <p class="user-comment-space">
                                        <strong><a href="/users/<%= comment.author.id %>"><%= comment.author.userDisplay %></a></strong>
                                        <%= comment.text %>
                                    </p>

                                    <div class="below-comments">
                                        <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                                        <% if (currentUser && currentUser._id.equals(comment.author.id) || currentUser && currentUser.isAdmin) { %>
                                            <!--Edit button used for collapsing the edit comment form-->
                                            <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit</a>

                                            <!--Delete comment button-->
                                            <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                                                <button class="btn btn-xs btn-danger">Delete</button>
                                            </form>

                                            <!--Edit comment form-->
                                            <div class="collapse" id="collapseEdit<%= comment._id %>">
                                                <div class="well container-text-edit" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                                                    <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                                        <div class="form-group">
                                                            <textarea id="text-area-edit" class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="<%= comment.text.length/(16*4.5) %>"><%= comment.text %></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <button class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>

                                    <!--Show when the comment was made-->
                                    <span class="time-stamp"><%= moment(comment.createdAt).fromNow() %></span>

                                    </div>
                                </div>
                            <% }) %>
                    </div>

                <!--COMMENT SECTION END-->

            </div>
        </div>
    </div>
</div>

<script>
function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {
        lat: lat,
        lng: lng
    };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
        infowindow.open(map, marker);
    });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIGZtqqHt_xxc3qVIsZW7wQTZGqo0cQfk&callback=initMap"></script>

<% include ../partials/footer %>
