<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 user-bio">
            <h1><%= user.firstName + " " + user.lastName %></h1>
            <hr class="style-two">
            <div class="thumbnail">
                <img src="<%= user.avatar %>" alt="user profile image">
                <div class="user-email">
                    <hr class="style-two">
                    <b>Contact: </b><a href="mailto:<%= user.email %>"><%= user.email %></a>
                    <hr class="style-two">
                </div>
            </div>
            <!--User Bio-->
            <b>About <%= user.firstName + " " + user.lastName %>:</b>
            <p><%= user.bio %></p>
        </div>
        <div class="user-container-right">
            <h1 id="user-campgrounds"><%= user.firstName + " " + user.lastName %>'s (<%= user.userDisplay %>) Campgrounds</h1>
            <hr class="style-two">
            <div class="row text-center" style="display: flex; flex-wrap: wrap;">
                <% campgrounds.forEach(function(campground){ %>
                    <div class="col-md-6 col-sm-6">
                        <div class="thumbnail">
                            <a href="/campgrounds/<%= campground._id %>"><img src="<%= campground.image %>"></a>
                            <div class="caption">
                                <p id="index-list-location"><%= campground.location %></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
